<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
         <link rel="stylesheet" href="/css/styles.css" type="text/css">
         <script>
          $(document).ready(function() {
             $('select').material_select();
         });
       </script>
        <title>Client Edit</title>
    </head>
    <body>
        <nav class="top-class">
            <div class="nav-wrapper light-green darken-2">
                <img class="left" src="/img/scissors.png" alt="" />
                <a href="/" class="brand-logo center"><h1>Adam's Hair Salon</h1></a>
                <img class="right" src="/img/scissors.png" alt="" />
            </div>
        </nav>
        <div class="container">
            <div>
                <h1 class="name">Update {{ client.getClientName }} Information</h1>
            </div>

            <form action="/client/{{ client.getId }}/client_name" method="post">
              <input name="_method" type="hidden" value="patch">
              <div class="input-field">
                  <label for="client_name">Rename your client:</label>
                  <input id="client_name" name="client_name" type="text" required>
              </div>
              <button class="btn waves-effect blue darken-1 waves-light" type="submit">Update</button>
            </form>


            <form action="/client/{{ client.getId }}/phone" method="post">
              <input name="_method" type="hidden" value="patch">
              <div class="input-field">
                  <label for="phone">New Phone #:</label>
                  <input id="phone" name="phone" type="text" required>
              </div>
              <button class="btn waves-effect blue darken-1 waves-light" type="submit">Update</button>
            </form>

            <form action="/client/{{ client.getId }}/email" method="post">
              <input name="_method" type="hidden" value="patch">
              <div class="input-field">
                  <label for="email">New Email Address:</label>
                  <input id="email" name="email" type="text" required>
              </div>
              <button class="btn waves-effect blue darken-1 waves-light" type="submit">Update</button>
            </form>

            <form action="/client/{{ client.getId }}/delete" method="post">
                <input name="_method" type="hidden" value="delete">
                <button class="btn waves-effect blue-grey darken-4" type="submit" name="button">Delete client</button>
            </form>

            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
