<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
     <link rel="stylesheet" href="/css/styles.css" type="text/css">
     <script>
      $(document).ready(function() {
         $('select').material_select();
     });
   </script>
    <title>Adam's Hair Salon | Stylists</title>
</head>
<body>
    <nav class="top-class">
        <div class="nav-wrapper light-green darken-2">
            <img class="left" src="/img/scissors.png" alt="" />
            <a href="/" class="brand-logo center"><h1>Adam's Hair Salon</h1></a>
            <img class="right" src="/img/scissors.png" alt="" />
        </div>
    </nav>
    <div class="container">
        <div class="">
            <h1 class="name">{{ stylist.getName }}</h1>
        </div>

        <p><a href="/stylist/{{ stylist.getId }}/edit">Edit this stylist</a></p>

        {% if clients is not empty %}
            <ul>
                {% for client in clients %}
                    <li>
                        <h4>{{ client.getClientName }}</h4>
                        <h5>{{ client.getPhone }}</h5>
                        <h5>{{ client.getEmail }}</h5>
                        <form action="/client/{{ client.getId }}/edit" method="get">
                            <button class="btn waves-effect blue darken-1 waves-light" type="submit" name="button">Edit client</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
<br>
        <h4>Add a client</h4>

        <form action='/clients' method='post'>
            <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
            <div class="input-field">
                <label for='client_name'>Client Name</label>
                <input id='client_name' name='client_name' type='text' required>
            </div>
            <div class="input-field">
                <label for='phone'>Phone Number:</label>
                <input id='phone' name='phone' type='text' required>
            </div>
            <div class="input-field">
                <label for='email'>Email Address:</label>
                <input id='email' name='email' type='text' required>
            </div>

            <button class="btn waves-effect blue darken-1 waves-light" type="submit" name="button">Add client</button>
        </form>

        <p><a href='/'>Home</a></p>
    </div>
</body>
</html>
